.header{
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: black;
    padding: 10px;
}
.main-box{
    width: 80%;
    background-color: cyan;
    padding: 10px;
    margin-right: 20px;
}
.city{
    width: 100%;
    background-color: lightblue;
    height: 45px;
    font-size: 30px;
    text-align: center;
    padding: 2px;


}
.boxy{
    background-color: blue;
    width: 15%;
    height: 100px;
    margin-left: 2px;
    margin-bottom: 2px;

}
.searcher{
    margin-bottom: 10px;
}