.header{
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: black;
    padding: 10px;
}
.jumbotron{
    width: 100%;
}
.city{
    width: 100%;
    background-color: lightblue;
    height: 45px;
    font-size: 30px;
    text-align: center;
    padding: 2px;


}